@use "sass:color";

@function rem($pixels) {
@return calc($pixels / 16px) * 1rem;
}

@function color-opacity($color, $opacity) {
  @return rgba($color, $opacity);
}

$font-family-sans-serif: -apple-system, blinkmacsystemfont, "Segoe UI", roboto,
  "Helvetica Neue", arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
$font-family-serif: "Georgia", "Times New Roman", serif;
$uoc-corporate: #000078;
$uoc-masterbrand: #73edff;
$uoc-bg: color.scale($uoc-masterbrand, $lightness: 70%);
$mq-min-width: 1500px;
